## Pandas 를 이용한 데이터조작

In [23]:
import pandas as pd

In [30]:
csData = pd.read_csv("../dataset/customerdata.csv")
csData.head(2)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.90000    3          6.4    1.679181  Big-Screen-lover
1  A14219    3642.44195    2          4.0    2.682023      Sleeping-dog

In [34]:
csData[(csData.EMI >= 3)].head(2)

    CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
27  F17131   3179.708359    3          6.5    1.100000        Early-bird

In [38]:
csData[(csData.DEVICECOUNT<= 4) & (csData.CUSTTYPE== "Sleeping-dog")].head(2)

    CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1   A14219   3642.441950    2          4.0    2.682023  Sleeping-dog
41  H16434   3145.232489    2          3.5    1.865857  Sleeping-dog

In [29]:
# 원하는 타입으로 변경하는 방법도 알아야함
csData.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

## Numpy 이용_ 이상데이터 정제하기

### 이상데이터 정제하기 1.np.where

In [42]:
import numpy as np

In [49]:
csData["product_age_new"] = np.where(csData["PRODUCTAGE"]<1,1,\
                            np.where(csData["PRODUCTAGE"]<2,2,\
                            np.where(csData["PRODUCTAGE"]<3,3,5)))

In [53]:
csData.head(1)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,product_age_new
0,A13566,4273.9,3,6.4,1.679181,Big-Screen-lover,2

### 이상데이터 정제하기 2. 함수 이용

In [62]:
##df 는 항상 고정, 함수를 적용할 애를 다 df 값에 담아서 내릴거니깐 상관없음

def refining(df):
    if df["PRODUCTAGE"] < 1:
        return 1
    elif df["PRODUCTAGE"] < 2 :
        return 2
    else:
        return 5

In [67]:
## axis = 0 이면 x축으로 붙음, 열로 붙음??

csData["PRODUCTAGE_NEW2"] = csData.apply(refining, axis = 1)

In [75]:
csData.head(1)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,product_age_new,PRODUCTAGE_NEW2
0,A13566,4273.9,3,6.4,1.679181,Big-Screen-lover,2,2

## 데이터 정렬하기

In [70]:
##미리 정렬 기준이 될 키를 변수로 정하고 사용해 -> 깔끔 
sortKey = ["CUSTID","AVERAGEPRICE"]

In [77]:
## csData.sort_values(sortKey, inplace = True) -> 변수를 최소화 하는 방법. 단, 변수를 바꿨으므로 원래 데이터를 찾으려면 다시 import 해야해 
## 지금 까지는 csSortedData = csData.sort_values(sortKey) 이런 식으로 담아줬었다고, 왜냐면 안 담아주면 정렬된 값이 저장이 안되니깐 

csData.sort_values(sortKey, inplace = False, ascending=True)
csData.head(5)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,product_age_new,PRODUCTAGE_NEW2
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5