In [19]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume',engine)
selloutData

#컬럼헤더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','HEAD']


#데이터 저장
resultname= 'mysqlhr'
selloutData.to_sql(resultname, engine, if_exists = 'replace', index=False)

selloutData.head(0)

Empty DataFrame
Columns: [REGIONID, PRODUCTGROUP, YEARWEEK, HEAD]
Index: []

In [30]:
import pandas as pd
from sqlalchemy import create_engine

engine= create_engine('oracle+cx_oracle://HAEK:HAEK@127.0.0.1:1522/xe')

selloutData = pd.read_sql_query('SELECT*FROM kopo_product_volume',engine)

selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
print(selloutData.head())

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999

In [32]:
import pandas as pd
from sqlalchemy import create_engine

engine= create_engine('oracle+cx_oracle://kopo2019:kopo2019@192.168.110.112:1521/orcl')

selloutDate = pd.read_sql_query('SELECT*FROM kopo_product_volume',engine)

selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
print(selloutData.head())

resultname='Haeri Kim'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999

In [33]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

engine= create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo')

selloutDate = pd.read_sql_query('SELECT*FROM kopo_product_volume',engine)

selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
print(selloutData.head())

resultname='Haeri Kim'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999