In [12]:
# 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [25]:
# 데이터 접속 주소 입력
url201801 = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=NDcyZmVjMGUwYTczMjc5Mjc2ZmFhMzA3ZGY4M2NjYzc=&format=json&jsonVD=Y&userStatsId=khr54548/408/DT_08002_10/2/1/20190418173518&prdSe=M&startPrdDe=201801&endPrdDe=201801"
url201802 = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=NDcyZmVjMGUwYTczMjc5Mjc2ZmFhMzA3ZGY4M2NjYzc=&format=json&jsonVD=Y&userStatsId=khr54548/408/DT_08002_10/2/1/20190418173518&prdSe=M&startPrdDe=201802&endPrdDe=201802"
# 정상 여부 확인 (200 정상)
response = requests.get(url201801)
response = requests.get(url201802)
response
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df201801 = json_normalize(json)
df201801

,C1,C1_NM,C1_OBJ_NM,C2,C2_NM,C2_OBJ_NM,DT,ITM_ID,ITM_NM,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,0001,전국,지역별,0001,전체,규모별,5.540924247,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
1,0001,전국,지역별,0002,40㎡이하,규모별,5.793955892,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
2,0001,전국,지역별,0003,40㎡초과,규모별,4.970294262,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
3,0002,수도권,지역별,0001,전체,규모별,5.305982004,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
4,0002,수도권,지역별,0002,40㎡이하,규모별,5.506657869,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
5,0002,수도권,지역별,0003,40㎡초과,규모별,4.856611049,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
6,0003,지방,지역별,0001,전체,규모별,6.52375662,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
7,0003,지방,지역별,0002,40㎡이하,규모별,6.982383928,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%
8,0003,지방,지역별,0003,40㎡초과,규모별,5.458205727,T001,수익률,408,201801,M,DT_08002_10,수익률,%,%