In [142]:
import pandas as pd
import numpy as np

## 빈 데이터 프레임 만들어서 데이터 넣기

In [143]:
emptyColumns = ["REGIONID","PRODUCT","ITEM","YEARWEEK","QTY"]

emptydf = pd.DataFrame(columns = emptyColumns)

In [144]:
#이렇게 하기 싫으니깐 for문을 돌리나봐
pd.DataFrame([["A01", "PRODUCT34","ITEM01", "201925" ,0]])
pd.DataFrame([["A01", "PRODUCT34","ITEM01", "201926" ,0]])
pd.DataFrame([["A01", "PRODUCT34","ITEM01", "201927" ,0]])

     0          1       2       3  4
0  A01  PRODUCT34  ITEM01  201927  0

In [145]:
REGIONID = "A00"
PRODUCT = "PRODUCT34"
ITEM = "ITEM01"
STARTWEEK = "201925"

In [146]:
PAST_WINDOW = 4

In [147]:
#함수 쓰게 라이브러리 하나 넣고
from fintechlab import CommonFunction as cf

In [148]:
cf.preWeek("201925", 1)

'201924'

In [149]:
for i in range(0, PAST_WINDOW):
    emptydf = emptydf.append(pd.DataFrame([[REGIONID, PRODUCT, ITEM, cf.preWeek(STARTWEEK, i ),100+(i*10)]] , columns = emptyColumns) , ignore_index = True  ) #i 가 for 문 돌면서 preWeek 내에서 다른 주 로 컬럼 만들어져

In [150]:
emptydf

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY
0      A00  PRODUCT34  ITEM01   201925  100
1      A00  PRODUCT34  ITEM01   201924  110
2      A00  PRODUCT34  ITEM01   201923  120
3      A00  PRODUCT34  ITEM01   201922  130

In [151]:
#def mafunction(emptydf, in_window):
#    emptydf["MA"] = emptydf.QTY.rolling(window= in_window, center = True, min_periods = 1 ).mean()
    
    #return emptydf

In [152]:
#emptydf

In [153]:
#groupKey = ["REGIONID", "PRODUCT","ITEM","YEARWEEK"]

In [154]:
#WINDOW = 5
#refineddf = emptydf.groupby(groupKey).apply(mafunction, (WINDOW))

In [155]:
#refineddf.head()

In [169]:
emptydf

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY
0      A00  PRODUCT34  ITEM01   201925  100
1      A00  PRODUCT34  ITEM01   201924  110
2      A00  PRODUCT34  ITEM01   201923  120
3      A00  PRODUCT34  ITEM01   201922  130

In [177]:
seasonMapData = emptydf.groupby(["REGIONID","PRODUCT","ITEM","YEARWEEK"])["QTY"].agg("mean","std").to_dict()

UnsupportedFunctionCall: numpy operations are not valid with groupby. Use .groupby(...).mean() instead

In [176]:
seasonMapData

NameError: name 'seasonMapData' is not defined

In [174]:
seasonMap("A00","PRODUCT34","ITEM01","201924")

TypeError: 'dict' object is not callable

In [158]:
stdQty = emptydf.QTY.mean()

In [161]:
stdQty

115.0

In [ ]:
weekList = emptydf.YEARWEEK.str[4:6]
seasonList = []
for i in weekList:
    seasonList.append(seasonMap[REGIONID,PRODUCT,i])